.data-layer-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    .data-layer-list-heading {
        width: 100%;
        height: 40px;
        display: flex;
        border-bottom: 1px solid var(--calcite-color-border-3);
        // // --tw-shadow: 0 -1px 0 var(--calcite-color-border-3);
        // // --tw-shadow-colored: 0 -1px 0 var(--tw-shadow-color);
        box-shadow: 0 -1px 0 var(--calcite-color-border-3);
        calcite-label {
            flex: 1;
            height: 40px;
            line-height: 40px;
            padding: 12px 0 0 8px;
        }
        calcite-button {
            height: 32px;
            width: 32px;
            padding-top: 8px;
            border: none !important;
        }
    }
    .esri-layer-list__visible-icon {
        visibility: visible !important;
    }
    .data-layer-list-content {
        flex: 1;
        overflow: auto;
    }

    calcite-list-item {
        //hide the action button for opacity permanently so that the action
        // button for the opacity in the menu is not duplicated
        // :not('.esri-list-item-panel')):has(calcite-action-menu) {
        //     > calcite-action:is([title*='opacity'i], [title*='transparency'i]) {
        //         display: none;
        //     }
        // }

        :not(:has(div.esri-list-item-panel)) {
            &:has(calcite-action-menu)
                > calcite-action:is(
                    [title*='opacity'i],
                    [title*='transparency'i]
                ) {
                display: none;
            }
        }
    }
}
