@import '@assets/styles/index.scss';
/**
 * Here we use the codes for app specific styles
 */

#app {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}
.app-content {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    .app-view {
        height: 100%;
        width: 100%;
        display: flex;
    }
}
