@import '@assets/styles/index.scss';
/**
 * Here we use the codes for app specific styles
 */

#app {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.app-content {
    // background: url('../../assets/images/screenshot.png') center center
    //     no-repeat;

    width: 100%;
    height: 100%;
}
