.layer-list-content {
    display: flex;
    flex-direction: column;
    .layer-list-content-item {
        .esri-expand {
            margin-top: 20px;
            background: transparent;
        }
        .esri-expand__container--expanded {
            padding: 0px;
            margin: 0px;
            display: flex;
            .esri-expand__panel {
                width: 32px;
                height: 32px;
                // position: absolute;
                // left: -32px;
                box-shadow: 0 1px 2px #0000004d;
            }
            .esri-expand__content--expanded {
                margin: 0px;
            }
        }
    }
}
