@import '~@arcgis/core/assets/esri/themes/light/main.css';
@import 'theme.scss';
@import url('https://fonts.googleapis.com/css?family=Public Sans');

html,
body {
    height: 100%;
}
body {
    margin: 0px;
    border: solid red;
    box-sizing: border-box;
    font-family: 'Public Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
