@import '~@arcgis/core/assets/esri/themes/light/main.css';
@import url('https://fonts.googleapis.com/css?family=Public Sans');
:root {
    --app-font-family: 'Public Sans', Arial, sans-serif;

    // Tool background
    --app-tool-bg: linear-gradient(0deg, #dadada, #dadada),
        linear-gradient(0deg, #f1f1f1, #f1f1f1);

    // Popover buttons
    --app-popover-button-text-color: #6a6a6a;
}
