@import '~@arcgis/core/assets/esri/themes/light/main.css';
@import url('https://fonts.googleapis.com/css?family=Public Sans');
:root {
    --app-font-family: 'Public Sans', Arial, sans-serif;

    // Button
    --button-bgcolor: #c6c6c6;
    --button-hover-bgcolor: #b4b4b4;
    --button-active-bgcolor: #9b9c9c;
    --button-shadow-color: #00000078;
    --button-border: 1px solid #b4b4b4;
    --button-text-color: #7e7e7e;
}
