.toolbar-group {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    z-index: 101;
    align-items: center;
    justify-content: space-around;

    &.h-t {
        width: 100%;
        top: 0px;
        height: 35px;
        display: flex;
        flex-direction: row;
    }
    &.h-b {
        width: 100%;
        bottom: 0px;
        height: 35px;
        display: flex;
        flex-direction: row;
    }
    &.v-l {
        left: 0px;
        width: 35px;
        height: 100%;
        flex-direction: column;
        display: flex;
    }
    &.v-r {
        right: 0px;
        width: 35px;
        height: 100%;
        flex-direction: column;
        display: flex;
    }
}
